In [8]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

import warnings
warnings.filterwarnings('ignore')

In [3]:
dados = {'Country': ['India', 'US', 'Japan', 'US', 'Japan'],
        'Age' : [44, 34, 46, 35, 23],
        'Salary' : [ 72000, 65000, 98000, 45000, 34000]}

df = pd.DataFrame(dados) 
df

  Country  Age  Salary
0   India   44   72000
1      US   34   65000
2   Japan   46   98000
3      US   35   45000
4   Japan   23   34000

In [4]:
print(df.info)

<bound method DataFrame.info of   Country  Age  Salary
0   India   44   72000
1      US   34   65000
2   Japan   46   98000
3      US   35   45000
4   Japan   23   34000>

In [10]:
labelEncoder = preprocessing.LabelEncoder()

df['Country'] = labelEncoder.fit_transform(df['Country'])

   Country  Age  Salary
0        0   44   72000
1        2   34   65000
2        1   46   98000
3        2   35   45000
4        1   23   34000

In [12]:
df.head()

   Country  Age  Salary
0        0   44   72000
1        2   34   65000
2        1   46   98000
3        2   35   45000
4        1   23   34000