In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train['Sex_binario'] = train['Sex'].map({'male':0, 'female':1})

In [4]:
test['Sex_binario'] = test['Sex'].map({'male':0, 'female':1})

In [5]:
# selecione as colunas que são numericos, menos passengerid, survived
X = train.select_dtypes(include=np.number).drop(['PassengerId', 'Survived'], axis=1).fillna(0)
y = train['Survived']

In [6]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0

In [7]:
X

     Pclass   Age  SibSp  Parch     Fare  Sex_binario
0         3  22.0      1      0   7.2500            0
1         1  38.0      1      0  71.2833            1
2         3  26.0      0      0   7.9250            1
3         1  35.0      1      0  53.1000            1
4         3  35.0      0      0   8.0500            0
..      ...   ...    ...    ...      ...          ...
886       2  27.0      0      0  13.0000            0
887       1  19.0      0      0  30.0000            1
888       3   0.0      1      2  23.4500            1
889       1  26.0      0      0  30.0000            0
890       3  32.0      0      0   7.7500            0

[891 rows x 6 columns]

In [8]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import KFold
from sklearn.metrics import log_loss, accuracy_score
from sklearn.pipeline import make_pipeline

In [12]:
kf = KFold(n_splits=2, random_state=0,shuffle=True)

In [13]:
# criação de matriz de zeros, com o formatado de numeros de linhas com 4 colunas (numero do modelo)
second_level = np.zeros((X.shape[0], 4))

In [14]:
second_level

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       ...,
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
# tr , ts numeros das linhas 
for tr, ts in kf.split(X, y):
    Xtr, Xval = X.iloc[tr], X.iloc[ts]
    ytr, yval = y.iloc[tr], y.iloc[ts]

    print(f'treino {tr}')
    print(f'teste {ts}')
    
    print(f'TAMANHO {len(tr)}')
    print(f'TAMANHO {len(ts)}')

In [ ]:
for tr, ts in kf.split(X, y):
    Xtr, Xval = X.iloc[tr], X.iloc[ts]
    ytr, yval = y.iloc[tr], y.iloc[ts]
    
    # n_jobs = 6 nucleos
    rf  = RandomForestClassifier(n_estimators=100, n_jobs=6, random_state=10)
    rf.fit(Xtr, ytr)
    # probabilidade de um eveneto pertencer a classe 1 ou a classe 0
    prf = rf.predict_proba(Xval)[:,1]
    prf_ = (prf > 0.5).astype(int)
    
    print(f'RF Acurácia: {accuracy_score(yval, prf_)} - Log Loss: {log_loss(yval, prf)}')    
    
    et = ExtraTreesClassifier(n_estimators=100, n_jobs=6, random_state=10)
    et.fit(Xtr, ytr)
    pet = et.predict_proba(Xval)[:,1]
    pet_ = (pet > 0.5).astype(int)
    
    print(f'ET Acurácia: {accuracy_score(yval, pet_)} - Log Loss: {log_loss(yval, pet)}')
    
    lr1 = make_pipeline(StandardScaler(), LogisticRegression())
    lr1.fit(Xtr, ytr)
    plr1 = lr1.predict_proba(Xval)[:,1]
    plr1_1 = (plr1 > 0.5).astype(int)
    
    print(f'LR StdScaler Acurácia: {accuracy_score(yval, plr1_1)} - Log Loss: {log_loss(yval, plr1)}')
        
    lr2 = make_pipeline(MinMaxScaler(), LogisticRegression())
    lr2.fit(Xtr, ytr)
    plr2 = lr2.predict_proba(Xval)[:,1]
    plr2_ = (plr2 > 0.5).astype(int)
    
    print(f'LR MinMax Acurácia: {accuracy_score(yval, plr2_)} - Log Loss: {log_loss(yval, plr2)} \n')
    
    # matriz com as previsões
    second_level[ts, 0] = prf
    second_level[ts, 1] = pet
    second_level[ts, 2] = plr1
    second_level[ts, 3] = plr2

In [ ]:
for tr, ts in kf.split(X,y):
    Xtr, Xval = second_level[tr], second_level[ts]
    ytr, yval = y.iloc[tr], y.iloc[ts]
    
    lr_stack = LogisticRegression(C=1.)
    lr_stack.fit(Xtr, ytr)
    plr_stack = lr_stack.predict_proba(Xval)[:,1]
    plr_stack_ = (plr_stack > 0.5).astype(int)
    
    print(f'Stack Acurácia: {accuracy_score(yval, plr_stack_)} - Log Loss: {log_loss(yval, plr_stack)} \n')

In [ ]:
pd.DataFrame(np.corrcoef(second_level.T))

In [ ]:

second_level