feature selection = funciona bem para casos que tem poucos dados e muitas colunas
- filtragem    - filter (correlações, com target)
- embedded     - embarcado (são modelos já conteém internamente o feature selection, as features mais importantes)
- wrapper      - é o método mais poderoso, ele identifica dando ao modelo uma features de cada vez, exe: Há 100 features, o modelo verifica quais dessas 100 é a mais importante, dado essa importancia o modelo verifica a seguinte...

In [1]:
import pandas as pd
import numpy as np

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00437/Residential-Building-Data-Set.xlsx'

In [4]:
data = pd.read_excel(url, header=1, sheet_name=0)

In [5]:
data

,START YEAR,START QUARTER,COMPLETION YEAR,COMPLETION QUARTER,V-1,V-2,V-3,V-4,V-5,V-6,...,V-22.4,V-23.4,V-24.4,V-25.4,V-26.4,V-27.4,V-28.4,V-29.4,V-9,V-10
0,81,1,85,1,1,3150.0,920.0,598.5,190,1010.84,...,815.50,1755.00,8002.0,60.74,54.26,2978.26,41407.00,601988.1,2200,410
1,84,1,89,4,1,7600.0,1140.0,3040.0,400,963.81,...,1316.30,8364.78,8393.0,90.95,89.79,11379.37,44835.00,929027.1,5000,1000
2,78,1,81,4,1,4800.0,840.0,480.0,100,689.84,...,765.80,1755.00,4930.0,38.70,32.04,1653.06,37933.00,377828.6,1200,170
3,72,2,73,2,1,685.0,202.0,13.7,20,459.54,...,152.25,1442.31,1456.0,9.73,8.34,686.16,8194.00,122031.7,165,30
4,87,1,90,2,1,3000.0,800.0,1230.0,410,631.91,...,2244.10,9231.76,9286.0,136.60,140.20,9821.00,48260.00,1734973.5,5500,700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,83,4,86,1,20,1350.0,350.0,108.0,80,251.37,...,1176.50,8343.60,8382.0,87.27,85.56,10555.47,33626.25,865878.9,1100,150
368,81,2,82,4,20,600.0,150.0,36.0,60,299.55,...,815.50,1755.00,8013.0,62.78,56.45,3387.72,10646.75,606524.2,740,80
369,84,4,86,3,20,1900.0,430.0,285.0,150,364.41,...,1584.30,8776.71,8799.0,101.00,101.89,13571.80,34474.50,1067772.0,860,220
370,82,3,84,4,20,510.0,160.0,30.6,60,245.28,...,909.20,7930.66,8004.0,73.57,69.26,4756.68,21855.00,669640.3,1100,110
371,80,1,81,3,20,890.0,230.0,35.6,40,237.03,...,764.50,1755.00,8420.0,54.62,44.79,2206.19,40234.00,629797.2,460,50

In [6]:
data.shape

(372, 109)

In [8]:
cols = pd.read_excel(url, sheet_name=1)
cols.head(10)

,Variable Group,Variable ID,Descriptions,Unit,Time Lag Number p
0,PROJECT PHYSICAL AND FINANCIAL VARIABLES,V-1,Project locality defined in terms of zip codes,NaN,NaN
1,NaN,V-2,Total floor area of the building,m2,NaN
2,NaN,V-3,Lot area,m2,NaN
3,NaN,V-4,Total preliminary estimated construction cost ...,10000000 IRRm,NaN
4,NaN,V-5,Preliminary estimated construction cost based ...,10000 IRRm,NaN
5,NaN,V-6,Equivalent preliminary estimated construction ...,10000 IRRm,NaN
6,NaN,V-7,Duration of construction,As a number of time resolution e,NaN
7,NaN,V-8,Price of the unit at the beginning of the proj...,10000 IRRm,NaN
8,NaN,V-9,Actual sales prices (output),10000 IRRm,NaN
9,NaN,V-10,Actual construction costs (output),10000 IRRm,NaN